/* Set a background image by replacing the URL below */

body {
    background: url(/static/resimler/pexels-oleg-magni-1837605.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  p{
    text-align: left;
    font-size: 16px;
    
  }
 
h4 {display:inline-block; }