#dataTable td, #dataTable th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  }
  #dataTable tr:nth-child(even){background-color: black;}

#dataTable tr:hover {background-color: black;}

#dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: black;
  color: black;
  
}
.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }


.h8{
  font-size: 50px;
  font-weight: 500px;
}    
