

{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block body %}


<div class="jumbotron jumbotron-fluid " >
  <h1 class="display-2" style = "text-align:center ;font-size:100px">Şifre Değiştirme</h1 >
  </div>
    <div class="row">
  <div class="col-md-4"> 
 
 
{% load crispy_forms_tags %}
<form method="post" class="uniForm"  style="font-size:16px; font-weight:720">
  <div style = "color : red">
  {% csrf_token %}
 
   

 
{{ form|crispy:"bootstrap" }}
  </div>
  <br>
  <br>
  <button type="submit" class ="btn btn-danger">Parolayı Güncelle</button>
</form>

</div>


    



  

</div>  


{% endblock body %}






