

<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Datatables</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
                                                    $(document).ready(function()
                                                    {
                                                        var $select1=$('#select1'),
                                                            $select2=$('#select2'),
                                                            $options=$select2.find('option');
                                                            $select1.on('change',function(){

                                                                $select2.html($options.filter('[value="' +this.value+'"]'));
                                                            }).trigger('change');
                                                    
                                                    });
                                            
                                            </script>



</head>

<body>

<!------ Include the above in your HEAD tag ---------->




<select id="select1" >
                                            
                                                <option selected disabled="true">Seç...</option>
                                              {% for sirket in sirketler %}
                                                <option value="{{sirket.id}}"> {{sirket.sirket_adi}} </option>
                                                {% endfor %}
                                            </select>


					<select id="select2">
                                            
                                                <option id ="option31" selected disabled="true"> Select</option>
                                              
                                               
                                                {% for calisan in calisanlar %}
                                                <option value="{{calisan.sirket_bilgi.id}}"> {{calisan.calisan_adi}} {{calisan.calisan_soyad}} </option>
                                                {% endfor %}
                                                
                                            </select>
                               


</body>